h1{
    color: #001064;
    font-family: 'Lobster', cursive;}
p{
    color: aquamarine;
}
.first{
    color: #ab0600;
}
#second{
    background: #18ab00;
}
.block{
    color: forestgreen;
}
a{
    text-decoration: none;
}

a:hover{
    background: #dddddd;
    color: red;
}
a:active{
    background: red;
    color: green;
}
.nav{
    list-style: none;
    padding: 0;
}

.nav li{
    display: inline-block;
}
.wrapper{
    border: 10px dashed coral;
    border-radius: 5%;
    background: gold;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    box-shadow: #dddddd;
    padding: 100px 50px 30px 5px;

}
.wrapper:hover{
    border-bottom: 10px solid #000000;
    border-left: 10px solid #000000;
    border-radius: 10%;
}
.block2{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background: green;
    min-height: 500px;
    max-height: 800px;
}
.block2:hover p{
    display: none;
}